<!DOCTYPE html>

<h1 class="title">Log in</h1>

<div class="input-table">
  <p class="input-title">Username:</p>
  <input #textboxEmail class="input-box" type="text" ngModel="" required>
  <p class="input-title">Password:</p>
  <input #textboxPassword class="input-box" type="password" ngModel="" required>
  <br><br>
  <button class="submit" (click)="Login(textboxEmail.value, textboxPassword.value)">Login</button>
  <br>
  <p class="subtitle">no account? </p><a class="sublink" routerLink="/register">register Here!</a>
</div>
