<div class="container">

    <div class="flex center">
        <app-game-button [active]="colors.red" color="red" (guess)="playerGuess($event)"></app-game-button>
    </div>

    <div class="flex middle">
        <app-game-button [active]="colors.blue" color="blue" (guess)="playerGuess($event)"></app-game-button>
        <p>{{count -2 }}</p>
        <app-game-button [active]="colors.green" color="green" (guess)="playerGuess($event)"></app-game-button>
    </div>

    <div class="flex center">
        <app-game-button [active]="colors.yellow" color="yellow" (guess)="playerGuess($event)"></app-game-button>
    </div>

    <div class="flex center">
        <button style=" background-color: var(--darkBlue); margin-top: 2rem;" (click)="restartGame()">Restart?</button>
    </div>
</div>