<div class="main">

  <div class="animal-statistics" id="stats">

    <p class="animal-status" id="foodStatus">Food: {{animal.food}} </p>
    <p class="animal-status" id="energyStatus">Energy: {{animal.energy}} </p>
    <p class="animal-status" id="happinessStatus">Happiness: {{animal.happiness}} </p>
    <p class="animal-status" id="happinessStatus">Level: {{animal.level}} </p>
    <app-progress-bar [progress]= "animal.experience" [total]= "100"></app-progress-bar>
  </div>
  <h1 class="title" ng-if="animal.name"> {{animal.name}} </h1>
  <div class="image-holder">

    <img class="current-animal" id="tamagotchi" src="">

  </div>
  <div class="animal-actions" id="buttons">

    <button id="button_2" class="submit-animal" (click)="Play()">Play</button>
    <button id="button_3" class="submit-animal" (click)="Sleep()">Sleep</button>
    <button id="button_4" class="submit-animal" (click)="Shop()">Shop</button>
    <button id="button_5" class="submit-animal" (click)="Inventory()">Inventory</button>
  </div>

</div>
