.imgAnimal {
    height: 250px;
    left: 50%;
    margin-top: -205px;
    margin-left: -250px;
    position: absolute;
    transform: rotate(90deg);
    top: 45.5%;
    width: 250px;
 }
 .imgBed {
    height: 250px;
    left: 50%;
    margin-top: -125px;
    margin-left: -100px;
    position: absolute;
    top: 50%;
    width: 250px;
 }