<body>
  <div class="top-bar">
    <div class="bar-actions">
      <button class="submit-animal" (click)="back()">Back</button>
    </div>
    <div class="menu">
      <a class="active">My Inventory</a>
      <a (click)="Shop()">Store</a>
    </div>
    <div class="bar-actions">
      <a>
        <i class="fa fa-dollar"></i> {{ walletbalance }}
      </a>
    </div>
  </div>
  <div class="content">
    <div class="store">
      <div class="store-big">
        <div class="store-section-info">
          <h1>My ITEMS</h1>
        </div>
        <div class="store-items" *ngFor="let inventoryItem of inventoryItems">
          <div class="store-item rare" (click)="GiveFood(inventoryItem.item)">
            <div class="store-item-shadow"></div>
            <div class="store-item-details">
              <h1>{{inventoryItem.item.name}}</h1>
              <p>{{inventoryItem.item.category}}</p>
            </div>
            <div class="store-item-price">
              <i class="fa fa-dollar">{{inventoryItem.item.price}}$</i>
              <i class="fa fa-dollar">, {{inventoryItem.item.foodVal}}F</i>
              <i class="fa fa-dollar">, {{inventoryItem.item.energyVal}}E</i>
              <i class="fa fa-dollar">, {{inventoryItem.item.happyVal}}H</i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom-bar">
  </div>
</body>
