<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/7d82b8cf-30b9-4645-833d-0a70daac5f89/resourceGroups/TamagotchiResourceGroup/providers/Microsoft.Web/sites/TemporaryTamagotchiAPI</ResourceId>
    <ResourceGroup>TamagotchiResourceGroup</ResourceGroup>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>http://temporarytamagotchiapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <SCMUrl>https://temporarytamagotchiapi.scm.azurewebsites.net/</SCMUrl>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>b97fcd5e-3854-48db-b2e2-fefc5b51e871</ProjectGuid>
    <MSDeployServiceURL>waws-prod-db3-165.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>TemporaryTamagotchiAPI</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$TemporaryTamagotchiAPI</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
  </PropertyGroup>
</Project>